[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
molecule = {extras = ["vagrant"],version = "*"}
ansible = "<2.8"

[requires]
python_version = "3.7.4"

[pipenv]
allow_prereleases = true
